.container__sort-filter {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.content__sort-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
select {
  box-shadow:2px 2px  10px 0 rgb(253, 253, 253);
  font-size: 1rem;
  padding: 0.3em 0.5em;
  background: #000000;
  color: white;
  border-radius: .25em;
  cursor: pointer;
}
#sort {
  color: white;
}
#filter {
  color: white;
}
.filterIcon {
  color: violet;
}
#buttonClear {
  border: none;
  background: none;
  color: yellow;
  cursor: pointer;
}
#percentage {
  border: none;
  background: none;
  color: white;
  font-size: 2rem;
  text-align: end;
  margin-top: 2%;
  margin-right: 12%;
}

@media screen and (max-width: 800px) {
  .content__sort-filter { 
      flex-direction: column;
      align-items: flex-start;
  }
 /* select{
    padding: 50%;
  }*/
}
@media screen and (max-width: 425px) {
  .content__sort-filter { 
      flex-direction: column;
      align-items: flex-start;
  }
}

