.container__sort-filter {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.content__sort-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box {
  display: flex;
  flex-direction: row;
}
#search {
  background: none;
  color: white;
}
.icon-submenu {
  color: white;
}

@media screen and (max-width: 900px) {
  .content__sort-filter { 
      flex-direction: column;
      align-items: flex-start;
  }