@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
.container__facts {/*add*/
    max-width: 100%;
    background-image: url("./images/bgFacts.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    padding: 5% 7% 7% 7%;
    
  }
  #ricktastic {/*add*/
    font-size: 50px;
    color: white;
    text-align: center;
  }
.content__facts {
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content__facts1 {
    border: none;
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    margin: 5% 0;
    padding: 0;
  }
  .content__facts2 {
    background: black;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 8px 8px 15px 0px violet;
    padding: 5px;
    width: 18%;
    margin-top: 10px;
  }
  .div__img {
    height: 100%;/*?*/
}
  .imgFact {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.hlFact {
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1,1em;
}
  #empty {
    border: none;
    box-shadow: none;
    background: none;
  }

  @media screen and (max-width: 900px) {
    .content__facts2 {
      width: 50%;
      flex-direction: column;
    }
  }
  
  /* note: Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .content__facts2 {
      width: 100%;
      flex-direction: column;
    }
  }
