*{
    margin: 0;
    padding: 0;

}
.slide-container{
    width :300% ;
    margin: auto;
    height: 700px;
    
}
.slide-container ul{
    padding: 0;
    display: flex;

}
.slide-container li{
    width: 100%;
    list-style: none;

}

.slide-container li img{
    width: 100%;

}


